:root {
	// Firefox 64 compatibility
	scrollbar-color: #858688 rgba(0, 0, 0, 0.25);
	// Firefox 63 compatibility
	scrollbar-face-color: #858688;
	scrollbar-track-color: rgba(0, 0, 0, 0.25);
	scrollbar-width: thin;
}

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

.container {
	overflow: hidden;
	overscroll-behavior: contain;
}

#content {
	height: 100%;
}

#content-container {
	border-radius: var(--chakra-radii-md);
	flex-basis: auto;
	flex-grow: 1;
	flex-direction: column;
	margin: var(--chakra-space-5);
}

.scrollable {
	overflow: hidden auto;
}

// Main container
@media screen and (max-width: 501px) {
	#content-container {
		border-radius: 0 !important;
		margin: 0;
	}
}

@media screen and (max-width: 500px) {
	// Increase font size in mobile devices
	html {
		font-size: 18px;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #85868873;
	border: 0;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #858688;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
	border-radius: inherit;
}
