:root {
	// Firefox 63 compatibility
	scrollbar-face-color: #63b3ed;
	scrollbar-track-color: rgba(0, 0, 0, 0.1);
	// Firefox 64 compatibility
	scrollbar-color: #63b3ed rgba(0, 0, 0, 0.1) !important;
	scrollbar-width: 10px !important;
}

html,
body,
#root {
	// Fixes flexbox
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	overflow: hidden;
}

.scrollable {
	overflow: hidden auto;
}

// Main container
@media screen and (max-width: 500px) {
	#content {
		// So the Side navbar can be displayed on the bottom of the page
		flex-direction: column;
	}
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: #63b3ed;
	border: 0;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #48a6ea;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.25);
	border-radius: 0;
}

// TODO: UI in Settings doesn't work properly when zoomed-in
