html,
body,
#root {
	// Fixes flexbox
	height: 100%;
	display: flex;
	flex-direction: column;
}

// Main container
@media screen and (max-width: 500px) {
	#content {
		// So the Side navbar can be displayed on the bottom of the page
		flex-direction: column;
	}
}

// TODO: add scrollbar style
