.ghost-background {
	background: url('../../icons/ghost.svg') 0 0 repeat;
	background-size: 8em;
	height: 100%;
	left: 0;
	opacity: 0.1;
	pointer-events: none; // Allow clicking through element
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1; // Prevent overlapping menus
}
