.base-timer {
	width: clamp(1vw, 45vw, 20em);
	fill: none;
	transform-box: fill-box;

	&__text {
		fill: #fff;
		text-anchor: middle;
		font-family: consolas;

		&.remaining {
			font-size: 1em;
			font-weight: bold;
		}

		&.total {
			font-size: 0.5em;
			font-weight: 200;
		}
	}

	&__path-remaining {
		stroke: var(--chakra-colors-gray-600);
		stroke-width: 1;

		&-dots {
			fill: var(--chakra-colors-whiteAlpha-50);
			stroke: var(--chakra-colors-gray-500);
			stroke-width: 1;
			stroke-linecap: round;
			stroke-dasharray: 0.1 0.9;
			stroke-dashoffset: 0.04;
		}
	}

	&__path-progress {
		stroke: #63b3ed;
		stroke-width: 4;
		stroke-linecap: round;
		stroke-linejoin: round;
		// Makes sure the animation starts at the top center of the circle
		transform: rotate(-89.9deg);
		transform-origin: center;
		transition: stroke-dasharray 1s linear;
	}
}
