$media-navbar-mobile: 650px;

@mixin themify($theme-name, $background-mobile, $ripple-color-hsl) {
	body.#{$theme-name} {
		nav,
		.navbar {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			z-index: 1;
		}

		.navbar-item {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			cursor: pointer;

			// Disable accessibility outline on click
			box-shadow: none;
			&:focus,
			&:hover {
				outline: none;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				-webkit-tap-highlight-color: transparent;
			}

			&-icon {
				font-size: 26px;
			}

			&-label {
				display: block;
				font-size: 13px;
				line-height: 14px;
				font-weight: 500;
				text-transform: uppercase;
				transition: font-weight 0.25ms ease;
			}

			&.active {
				.navbar-item {
					&-icon {
						fill: var(--chakra-colors-blue-300);
					}
					&-label {
						color: var(--chakra-colors-blue-300);
						font-weight: 600;
					}
				}
			}
		}

		// Desktop Styles
		@media (min-width: $media-navbar-mobile) {
			nav,
			.navbar {
				flex-direction: row;
				order: 0;
				overflow-x: hidden;
				overflow-y: auto;
				padding: 1em 20px;
			}

			.navbar-item {
				&-label {
					display: none;
				}

				// Google material design ripple effect on hover
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: $ripple-color-hsl;
					border-radius: 50%;
					opacity: 0;
					transform: scale(1.1);
					transition: 300ms ease;
					pointer-events: none;
				}
				&:hover:after {
					opacity: 1;
					transform: none;
					animation: scale 150ms ease-in, opacity 150ms ease;
				}
			}
		}

		// Mobile Styles
		@media (max-width: $media-navbar-mobile) {
			nav,
			.navbar {
				background: $background-mobile;
				border-radius: 30px 30px 0 0;
				bottom: 0;
				box-shadow: 0 15px 30px 0 #000;
				height: clamp(10vh, 3.5rem, 4rem);
				left: 0;
				overflow: hidden;
				position: fixed;
				width: 100%;
				z-index: 3;
			}

			.navbar-item {
				flex-basis: 80px;
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
	}
}

//* Light Theme
@include themify(
	chakra-ui-light,
	var(--chakra-colors-white),
	rgba(0, 0, 0, 0.1)
);
//* Dark Theme
@include themify(
	chakra-ui-dark,
	var(--chakra-colors-gray-800),
	rgba(255, 255, 255, 0.1)
);
