.navbar {
	width: 64px;
	height: 100%;

	& &-icons-row {
		height: 100%; // Fix icons focus border cuts
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: unset;
		overflow: hidden auto; // Allow scrolling
		padding: {
			top: 1rem;
			bottom: 1rem;
		}

		&-button-icon {
			list-style: none;

			&:hover {
				background-color: var(--chakra-colors-whiteAlpha-300);
			}
		}

		& a {
			text-decoration: none;

			&.active {
				& .navbar-icons-row-button-icon {
					border-color: #0099ff !important;
					color: #0099ff !important;

					&:hover {
						background-color: #0099ff17;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.navbar {
		width: 100%;
		height: 5rem;
		// TODO: add user property order for mobile (display menu at top/bottom)
		order: 1 !important; // Force order to the bottom of the window

		& &-icons-row {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: 0 1rem;
			overflow: hidden;
		}
	}
}
